Xcursor.theme: neutral

! Colors
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! Black
*.color0:   #282a2e
*.color8:   #373b41

! Red
*.color1:   #a54242
*.color9:   #cc6666

! Green
*.color2:   #8c9440
*.color10:  #b5bd68

! Yellow
*.color3:   #de935f
*.color11:  #f0c674

! Blue
*.color4:   #5f819d
*.color12:  #81a2be

! Magenta
*.color5:   #85678f
*.color13:  #b294bb

! Cyan
*.color6:   #5e8d87
*.color14:  #8abeb7

! White
*.color7:   #707880
*.color15:  #c5c8c6

! Terminal options
URxvt.scrollBar:      false
URxvt.urgentOnBell:   true

! Fonts
!URxvt.font:           xft:Noto Sans Mono:style=SemiCondensed:size=10,\
!                      xft:Noto Sans Symbols2:style=Regular:pixelsize=12,\
!                      xft:Noto Mono for Powerline:pixelsize=22:antialias=true:hinting=true
!URxvt.boldFont:       xft:Noto Sans Mono:style=SemiCondensed Bold:size=10,\
!                      xft:Noto Sans Symbols2:style=Regular:pixelsize=12,\
!                      xft:Noto Mono for Powerline:pixelsize=22:antialias=true:hinting=true
!URxvt.italicFont:     xft:Noto Sans Mono:italic:style=SemiCondensed:size=10,\
!                      xft:Noto Sans Symbols2:style=Regular:pixelsize=12,\
!                      xft:Noto Mono for Powerline:pixelsize=22:antialias=true:hinting=true
!URxvt.boldItalicFont: xft:Noto Sans Mono:italic:style=SemiCondensed Bold:size=10,\
!                      xft:Noto Sans Symbols2:style=Regular:pixelsize=12,\
!                      xft:Noto Mono for Powerline:pixelsize=22:antialias=true:hinting=true
! Fonts
URxvt.font:           xft:Noto Sans Mono:style=SemiCondensed:size=10,\
                      xft:Noto Sans Symbols2:style=Regular:pixelsize=12,\
                      xft:Inconsolata for Powerline:size=13,\
                      xft:Source Code Pro:style=Medium:pixelsize=13
URxvt.boldFont:       xft:Noto Sans Mono:style=SemiCondensed Bold:size=10,\
                      xft:Noto Sans Symbols2:style=Regular:pixelsize=12,\
                      xft:Inconsolata for Powerline:size=13,\
                      xft:Source Code Pro:style=Medium:pixelsize=13
URxvt.italicFont:     xft:Noto Sans Mono:italic:style=SemiCondensed:size=10,\
                      xft:Noto Sans Symbols2:style=Regular:pixelsize=12,\
                      xft:Inconsolata for Powerline:size=13,\
                      xft:Source Code Pro:style=Medium:pixelsize=13
URxvt.boldItalicFont: xft:Noto Sans Mono:italic:style=SemiCondensed Bold:size=10,\
                      xft:Noto Sans Symbols2:style=Regular:pixelsize=12,\
                      xft:Inconsolata for Powerline:size=13,\
                      xft:Source Code Pro:style=Medium:pixelsize=13

!URxvt.keysym.C-Up:     font-size:increase
!URxvt.keysym.C-Down:   font-size:decrease
!URxvt.keysym.C-S-Up:   font-size:incglobal
!URxvt.keysym.C-S-Down: font-size:decglobal
!URxvt.keysym.C-equal:  font-size:reset
!URxvt.keysym.C-slash:  font-size:show
!
!! Terminal settings
!URxvt*borderless:       1
!URxvt*buffered:         true
!URxvt*cursorBlink:      true
!URxvt*depth:            32
!URxvt*loginShell:       false
!URxvt*saveLines:        5000
!URxvt*underlineColor:   blue
!URxvt.matcher.button:   1
!URxvt.perl-ext-common:  default,matcher,font-size
!URxvt.scrollBar:        false
!URxvt.urgentOnBell:     true
!URxvt.urlLauncher:      firefox
!Urxvt*secondaryScroll:  true
